In [4]:
from pylab import *
import numpy as np
import pandas as pd
from scipy.sparse import coo_matrix, csr_matrix, csc_matrix
from sklearn import preprocessing
import itertools
directory = 'C:\\Users\\shane\\programming\\CS584\\Movie_Recommender_System'

In [6]:
fn = 'data\movie_actors.latin1.dat'
movie_actors = pd.read_csv(fn, sep='\t', header=1)
movie_actors.head()

   1      annie_potts      Annie Potts  10
0  1      bill_farmer      Bill Farmer  20
1  1      don_rickles      Don Rickles   3
2  1  erik_von_detten  Erik von Detten  13
3  1        greg-berg        Greg Berg  17
4  1       jack_angel       Jack Angel   6