In [1]:
import numpy as np
from scipy import sparse
import pandas as pd

In [3]:
dir = 'data/'
fn = dir + 'rating_csc.npz'
npy_file = np.load(fn)
csr = sparse.csr_matrix((npy_file['data'], npy_file['indices'], npy_file['indptr']), shape=npy_file['shape'])

In [4]:
def delete_csr_rows(csc, indices):
    bool_indx = np.ones(csc.shape[0], dtype=bool)
    len_string = "{} {} {}".format(csr.shape[0], indices.shape[0], bool_indx.shape[0])
    print(len_string)
    return  csr_matrix(csc[indices])

In [54]:
test_array = np.array([[1,2,0],[3,4,0],[5,6,0]])
index_array = np.array([True,True, False, True, True])
test_array[index_array]
print(test_array)
print(test_array.shape)
sums = test_array.sum(axis=1)
print(sums)
# print(len(index_array))

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 3 but corresponding boolean dimension is 5
  app.launch_new_instance()

IndexError: index 3 is out of bounds for axis 0 with size 3

In [52]:
sums = csr.sum(axis=1)#row sums
print(len(sums))
# print(sums)
indices = sums > 0
print(indices[70:80])
print(sums[indices])
trimmed_csr = delete_csr_rows(csr, indices)
print(trimmed_csr.toarray())

127
[[False]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [False]
 [ True]
 [False]
 [False]]
[[ 31.   30.5   9.5]]
127 127 127
[[ 0.  0.  0.]]

In [65]:
coo = sparse.coo_matrix(csr)

In [48]:
df = pd.DataFrame({'index': coo.row, 'col': coo.col, 'data': coo.data})
df = df[['index', 'col', 'data']].sort_values(['index','col']).reset_index(drop=True)
print(df.tail())

NameError: name 'coo' is not defined

In [5]:
truncated_rows_csr = csr[csr.getnnz(1)>0]
print(truncated_rows_csr.shape)
print(csr.shape)

(2113, 65133)
(71534, 65133)

In [7]:
truncated_csr = truncated_rows_csr[:, truncated_rows_csr.getnnz(0)>0]
truncated_csr.shape

(2113, 9936)

In [47]:
df = pd.DataFrame(truncated_csr.todense())
df_nan = df.replace(0, np.NaN)
print(df_NaN.tail())
print(df_NaN.min().tail())

      0     1     2     3     4     5     6     7     8     9     ...   9926  \
2108   NaN   3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2109   4.0   NaN   NaN   NaN   1.5   NaN   NaN   NaN   NaN   NaN  ...    NaN
2110   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2111   NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2112   NaN   NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN   4.5  ...    NaN

      9927  9928  9929  9930  9931  9932  9933  9934  9935
2108   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2109   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2110   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2111   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2112   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 9936 columns]
9931    2.5
9932    3.5
9933    3.0
9934    2.5
9935    3.0
dtype: float32

In [41]:
row_means = df_nan.mean(axis=1)
print(row_means.tail())

2108    3.564171
2109    3.361592
2110    4.008039
2111    3.420000
2112    4.148438
dtype: float32

In [42]:
col_means = df_nan.mean(axis=0)
print(col_means.tail())

9931    3.00
9932    3.50
9933    3.25
9934    2.50
9935    3.50
dtype: float32

In [49]:
df = df_nan

In [68]:
df_row_centered = df.sub(row_means, axis=0)
df_row_centered.tail()
print(df_row_centered.mean(axis=1).tail())

2108    2.078194e-07
2109    1.682955e-07
2110    7.206221e-07
2111   -7.629394e-08
2112    0.000000e+00
dtype: float32

In [70]:
df_col_centered = df.sub(col_means, axis=1)
df_col_centered.tail()
print(df_col_centered.mean(axis=0).tail())

9931    0.0
9932    0.0
9933    0.0
9934    0.0
9935    0.0
dtype: float32

In [77]:
test_movie_list = [[7,6,7,4,5,4],[6,7,0,4,3,4],[0,3,3,1,1,0],[1,2,2,3,3,4],[1,0,1,2,3,3]]
df_test = pd.DataFrame(test_movie_list)
df_test.replace(0, np.NaN)

     0    1    2  3  4    5
0  7.0  6.0  7.0  4  5  4.0
1  6.0  7.0  NaN  4  3  4.0
2  NaN  3.0  3.0  1  1  NaN
3  1.0  2.0  2.0  3  3  4.0
4  1.0  NaN  1.0  2  3  3.0

In [ ]:
df_test.corr()